@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "AddCustomer";
}

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-12 col-sm-10 col-md-5">
        @using (Html.BeginForm("save", "customers", FormMethod.Post, new { @class = "col-12 w-100" }))
        {

            <div class="form-group mt-3">
                @Html.LabelFor(m => m.Customers.Name)
                @Html.TextBoxFor(m => m.Customers.Name, new { @class = "form-control ", placeholder = "Enter your name" })
                @Html.ValidationMessageFor(m => m.Customers.Name, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group mt-3">
                @Html.LabelFor(m => m.Customers.DOB)
                @Html.TextBoxFor(m => m.Customers.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control ", type = "date" })
                @Html.ValidationMessageFor(m => m.Customers.DOB, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group  row">
                <div class="form-check">
                    <label class="d-flex align-items-center">
                        @Html.CheckBoxFor(m => m.Customers.IsSubscribedToNewsletter, new { @class = "" })
                        <span class="ml-1">Newsletter</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.Customers.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Membership Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Customers.MembershipTypeId, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group">
                @Html.HiddenFor(c => c.Customers.Id)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}